.widget {
  list-style-type: none;
}
.widgettitle {
  margin-bottom: 0;
  line-height: 1.2;
}
.wp-caption {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}
.wp-caption-text {
  text-align: center;
  font-size: 80%;
}
.wp-calendar-table {
  width: 100% !important;
}
.gallery-icon img {
  transition: all 0.27s;
}
img.alignright {
  float: right;
  margin: 0 0 1rem 1rem;
}
img.alignleft {
  float: left;
  margin: 0 1rem 1rem 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignright {
  float: right;
  margin: 0 0 1rem 1rem;
}
a img.alignleft {
  float: left;
  margin: 0 1rem 1rem 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post-nav-links .post-page-numbers:first-child {
  margin-left: 0.5rem;
}
.post-nav-links .post-page-numbers {
  transition: all 0.27s;
  display: unset;
  padding: 0.5rem;
  border: 2px solid black;
}
.widget_archive ul, .widget_categories ul, .widget_meta ul, .widget_nav_menu ul, .widget_pages ul, .widget_recent_comments ul, .widget_recent_entries ul, .widget_rss ul {
  list-style-type: none;
  padding-left: 0;
}
.widget_archive ul li, .widget_categories ul li, .widget_meta ul li, .widget_nav_menu ul li, .widget_pages ul li, .widget_recent_comments ul li, .widget_recent_entries ul li, .widget_rss ul li {
  margin-bottom: 1rem;
}
.widget_archive ul li ul, .widget_categories ul li ul, .widget_meta ul li ul, .widget_nav_menu ul li ul, .widget_pages ul li ul, .widget_recent_comments ul li ul, .widget_recent_entries ul li ul, .widget_rss ul li ul {
  padding-left: 1rem;
}
.widget_recent_entries li a {
  display: block;
}
.widget_recent_entries li .post-date {
  font-style: oblique;
  font-weight: normal;
  font-size: 0.65rem;
}
.widget_rss li {
  margin-bottom: 2.5rem !important;
}
.widget_rss li .rss-date {
  font-style: oblique;
  font-weight: normal;
  font-size: 0.65rem;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
table th, table td {
  padding: 0.5rem;
  border: 1px solid;
  border-color: black;
}
blockquote {
  margin: 0;
}
blockquote:before, blockquote:after {
  display: block;
  content: '';
  background-color: #000;
  width: 50%;
  height: 2px;
  margin: 0 auto;
}
blockquote:before {
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}
blockquote::after {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
blockquote p, blockquote cite {
  text-align: center;
}
dl dt {
  font-weight: bold;
}
#protected-post-form {
  border-bottom: 2px solid black;
  display: flex;
  transition: all 0.27s;
}
#protected-post-form > input[type='password'] {
  appearance: none;
  background-color: transparent;
  min-width: 0;
  flex-grow: 1;
  padding: 0.75rem 0.5rem 0.75rem 0rem;
  border: 0;
}
#protected-post-form > button {
  cursor: pointer;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  transition: all 0.27s;
  appearance: none;
  border: 0;
  background-color: transparent;
  appearance: none;
}
#protected-post-form > button > i {
  size: 1.5rem;
}
body > *:not(#wpadminbar) form:not(#search-form):not(#protected-post-form) input[type='text'], body > *:not(#wpadminbar) li:not([class^='.mejs']) input[type='text'], body > *:not(#wpadminbar) form:not(#search-form):not(#protected-post-form) > input[type='search'], body > *:not(#wpadminbar) li:not([class^='.mejs']) > input[type='search'], body > *:not(#wpadminbar) form:not(#search-form):not(#protected-post-form) input[type='email'], body > *:not(#wpadminbar) li:not([class^='.mejs']) input[type='email'], body > *:not(#wpadminbar) form:not(#search-form):not(#protected-post-form) > button, body > *:not(#wpadminbar) li:not([class^='.mejs']) > button, body > *:not(#wpadminbar) form:not(#search-form):not(#protected-post-form) > select, body > *:not(#wpadminbar) li:not([class^='.mejs']) > select, body > *:not(#wpadminbar) form:not(#search-form):not(#protected-post-form) input[type='submit'], body > *:not(#wpadminbar) li:not([class^='.mejs']) input[type='submit'], body > *:not(#wpadminbar) form:not(#search-form):not(#protected-post-form) textarea, body > *:not(#wpadminbar) li:not([class^='.mejs']) textarea {
  display: block;
  width: 100% !important;
  max-width: unset;
  transition: all 0.27s;
  border: 2px solid;
  appearance: none;
  background-color: transparent;
  min-width: 0;
  padding: 0.75rem 0.5rem;
  margin: 0.25rem 0rem 0.75rem;
}
body > *:not(#wpadminbar) form:not(#search-form):not(#protected-post-form) input[type='submit'], body > *:not(#wpadminbar) li:not([class^='.mejs']) input[type='submit'], body > *:not(#wpadminbar) form:not(#search-form):not(#protected-post-form) button, body > *:not(#wpadminbar) li:not([class^='.mejs']) button {
  cursor: pointer;
}
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
  max-width: 100%;
  height: auto;
}
.sticky {
  position: sticky;
}
ol {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: planeta-counter;
}
ol li {
  counter-increment: planeta-counter;
  margin-bottom: 0.5rem;
}
ol li::before {
  content: counter(planeta-counter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: all 0.27s;
}
#search-form {
  position: relative;
  z-index: 100;
  border-bottom: 2px solid black;
  display: flex;
  transition: all 0.27s;
}
#search-form input[type='search'] {
  appearance: none;
  background-color: transparent;
  min-width: 0;
  flex-grow: 1;
  padding: 0.75rem 0.5rem;
  border: 0;
  margin: 0;
}
#search-form button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: all 0.27s;
  appearance: none;
  border: 0;
  background-color: transparent;
  appearance: none;
}
.default-container {
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1500px;
}
.article-container {
  max-width: 750px;
}
.article-container * {
  max-width: 100%;
  height: auto;
  width: initial;
}
.article-container > * {
  margin-bottom: 2.5rem;
}
.page-title-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100vw;
  align-items: center;
  position: relative;
  z-index: 100;
  margin-bottom: 10vh;
  background-blend-mode: multiply;
}
.page-title-container .page-title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.page-title-container .title-tag {
  margin-bottom: 0.5rem;
}
.page-title-container .title-tag:not(last-child) {
  margin-right: 0.5rem;
}
.page-title-container .title-tag .button-link {
  border: 2px solid !important;
  padding: 0.25rem 0.5rem !important;
}
.social-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
}
.social-container a:not(:last-child) {
  margin-right: 16px;
}
#loading-container {
  z-index: 99990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#loading-container .logo {
  margin-bottom: 1rem;
}
#loading-container .animation {
  margin-bottom: 1rem;
}
#footer-sidebar-container, #page-sidebar-container {
  display: grid;
  align-items: center;
  min-height: 0;
  position: relative;
  width: 100%;
  z-index: 100;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2.5rem;
}
#footer-sidebar-container #page-sidebar-left > li, #page-sidebar-container #page-sidebar-left > li, #footer-sidebar-container #footer-sidebar-left > li, #page-sidebar-container #footer-sidebar-left > li, #footer-sidebar-container #page-sidebar-right > li, #page-sidebar-container #page-sidebar-right > li, #footer-sidebar-container #footer-sidebar-right > li, #page-sidebar-container #footer-sidebar-right > li {
  margin-bottom: 2.5rem;
}
#footer-sidebar-container img, #page-sidebar-container img {
  max-width: 100%;
  object-fit: cover;
}
#not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10vh 0 0;
  display: flex;
  min-height: 60vh;
  align-items: center;
}
#main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
  margin-top: 10vh;
  padding-top: 10vh;
}
#main-footer #footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 100;
}
#main-footer #footer-menu span {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  margin-bottom: 1rem;
}
#top-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  z-index: 98000;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.17s ease-in;
  width: 100vw;
  height: 100vh;
}
#top-menu .top-menu-item {
  text-align: center;
  display: inline-block !important;
}
#top-menu > .top-menu-item:not(:last-child) {
  margin-bottom: 2.5rem;
}
#top-menu > .social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#top-menu > .social-container .top-menu-item:not(:last-child) {
  margin-right: 1rem;
}
#top-menu.menu-top {
  top: -100vh;
  left: 0;
}
#top-menu.menu-top.is-active {
  top: 0;
}
#top-menu.menu-bottom {
  top: 100vh;
  left: 0;
}
#top-menu.menu-bottom.is-active {
  top: 0;
}
#top-menu.menu-left {
  top: 0;
  left: -100vw;
}
#top-menu.menu-left.is-active {
  left: 0;
}
#top-menu.menu-right {
  top: 0;
  left: 100vw;
}
#top-menu.menu-right.is-active {
  left: 0;
}
#main-header {
  position: fixed;
  z-index: 99000;
}
#logo-container {
  position: fixed;
  top: 16px;
  left: 16px;
}
#logo-container.reverse {
  right: 16px;
  left: unset;
}
#hamburger-container {
  z-index: 99000;
  position: fixed;
  top: 16px;
  right: 16px;
}
#hamburger-container.reverse {
  left: 16px;
  right: unset;
}
#menu-button {
  display: flex;
  padding: 0.5rem;
}
#scroll-top-button {
  z-index: 97000;
  position: fixed;
  margin-right: 16px;
  margin-bottom: 16px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  display: none;
}
#scroll-top-button > i {
  font-size: 48px;
}
.post-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.75rem;
  font-weight: normal;
}
.post-info > .user {
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-info > .user > .avatar {
  margin-right: 0.5rem;
  border-radius: 50%;
}
.page-navigation .previous-link {
  float: left;
}
.page-navigation .next-link {
  float: right;
}
.hamburger {
  padding: 1rem 1rem;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.17s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.17s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.section-title, .section-subtitle, .page-title {
  line-height: 1 !important;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow-wrap: break-word;
}
@media (min-width: 1200px) {
  h1 {
    font-size: calc(1rem*$mod*mod*$mod*$mod*$mod);
  }
  h2 {
    font-size: calc(1rem*$mod*mod*$mod*$mod);
  }
  h3 {
    font-size: calc(1rem*$mod*mod*$mod);
  }
  h4 {
    font-size: calc(1rem*$mod*mod);
  }
  h5 {
    font-size: calc(1rem*$mod);
  }
  h6 {
    font-size: 1rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  h1 {
    font-size: calc(1rem*$mod*mod*$mod*$mod*$mod);
  }
  h2 {
    font-size: calc(1rem*$mod*mod*$mod*$mod);
  }
  h3 {
    font-size: calc(1rem*$mod*mod*$mod);
  }
  h4 {
    font-size: calc(1rem*$mod*mod);
  }
  h5 {
    font-size: calc(1rem*$mod);
  }
  h6 {
    font-size: 1rem;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  h1 {
    font-size: calc(1rem*$mod*mod*$mod*$mod*$mod);
  }
  h2 {
    font-size: calc(1rem*$mod*mod*$mod*$mod);
  }
  h3 {
    font-size: calc(1rem*$mod*mod*$mod);
  }
  h4 {
    font-size: calc(1rem*$mod*mod);
  }
  h5 {
    font-size: calc(1rem*$mod);
  }
  h6 {
    font-size: 1rem;
  }
}
#scroll-down-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 98000;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
#scroll-down-button > i {
  font-size: 48px;
}
section {
  z-index: 100;
  display: flex;
  align-items: center;
  position: relative;
}
section > .default-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
section > .default-container > .section-title, section > .default-container > .section-subtitle, section > .default-container > .section-logo, section > .default-container > .section-items {
  width: 100% !important;
}
section h1, section h2, section h3, section h4, section h5, section h6, section p {
  margin: 0;
}
.card-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 512px;
  border-bottom: 2px solid;
  margin-bottom: 1rem;
}
.card-title {
  line-height: 1;
}
.section-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 100;
  color: inherit;
}
.card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
}
.card-info > * {
  width: 100%;
  margin: 0;
}
.card-info > *:not(:last-child) {
  margin-bottom: 1rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.card-experience .description {
  margin-top: 0 !important;
}
.card-number .number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 0;
  width: 100%;
  border-bottom: 2px solid;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.card-number .number-container .number-value {
  font-weight: 900;
}
.card-number .number-container .number-of-what {
  font-size: 1rem;
}
.card-team {
  position: relative;
}
.card-team .card-image, .card-team .info > * {
  margin-bottom: 1rem;
}
.card-team .member-title {
  text-align: center;
  font-weight: 900;
  line-height: 1;
}
.card-team .member-position {
  text-align: center;
  font-style: oblique;
}
.card-team .member-social-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.card-team .member-social-container a {
  padding: 0.5rem !important;
}
.section-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.section-buttons span {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  margin-bottom: 1rem;
}
#tech-items, #client-items {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  justify-content: center;
}
#tech-items .card-image, #client-items .card-image {
  border: 0;
}
#testimonial-items {
  position: relative;
}
.card-testimonial .testimonial-excerpt {
  display: inline-flex;
  padding-bottom: 0.5rem;
  text-align: center;
  border-bottom: 2px solid;
}
.card-testimonial .testimonial-excerpt::before {
  content: '❝';
}
.card-testimonial .testimonial-excerpt::after {
  content: '❞';
}
.card-testimonial .testimonial-author-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-testimonial .testimonial-full {
  font-style: oblique;
}
.card-testimonial .testimonial-avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.card-testimonial .testimonial-author-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.card-testimonial .testimonial-author-description {
  font-size: 0.75rem;
  font-style: oblique;
}
.card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.card-price .price-image {
  width: unset;
}
.card-price .price-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.card-price .price-tag {
  word-break: break-all;
  font-size: 3rem;
  line-height: 1;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
}
.card-price .price-tag > span {
  display: block;
}
.card-price .price-tag > span:not(:last-child) {
  padding-bottom: 0.5rem;
}
.card-price .price-title, .card-price .price-tag, .card-price .price-before, .card-price .price-tag, .card-price .price-after, .card-price .card-url {
  text-align: center;
}
.card-price .price-before, .card-price .price-after {
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
}
.card-price .price-highlight {
  font-size: 4rem;
}
#comments h3.comments-title {
  margin-bottom: 0;
}
#comments ul.comment-list {
  padding: 0;
  list-style-type: none;
}
#comments ul.comment-list li.comment {
  list-style-type: none;
  margin-top: 2.5rem;
}
#comments ul.comment-list li.comment article footer.comment-meta div.comment-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
#comments ul.comment-list li.comment article footer.comment-meta div.comment-author img.avatar {
  margin-right: 0.5rem;
  border-radius: 50%;
}
#comments ul.comment-list li.comment article footer.comment-meta div.comment-author .says::before {
  content: ' ';
  white-space: pre;
}
#comments ul.comment-list li.comment article footer.comment-meta div.comment-metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
#comments ul.comment-list li.comment article footer.comment-meta div.comment-metadata time {
  font-style: oblique;
  font-weight: normal;
  font-size: 0.65rem;
}
#respond .logged-in-as {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.video-background, .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background-overlay {
  z-index: 40 !important;
}
.video-background {
  z-index: 30;
}
#global-overlay {
  z-index: 20 !important;
}
#global-video-background {
  z-index: 10 !important;
}
#global-video-background, #global-overlay {
  position: fixed !important;
}
*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  font-weight: bold;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
}
.button-link:hover {
  transition: all 0.27s;
}
.relative {
  position: relative;
  display: inline-block;
}
