.projects-classic-card .heading-subtitle, .projects-classic-card .widgettitle {
  text-align: center; }
.projects-classic-card .description:before {
  content: ' ';
  border-top: 1px solid white; }

.alignleft {
  text-align: left;
  align: left; }

.alignright {
  text-align: right;
  align: right; }

.aligncenter {
  text-align: center;
  align: center; }

.default-container,
#main-header {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: 0 auto;
  box-sizing: border-box; }
  .default-container:before,
  #main-header:before {
    content: '';
    padding-left: 1em; }
  .default-container:after,
  #main-header:after {
    content: '';
    padding-right: 1em; }

.content-container {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 22% 56% 22%; }

.heading-subtitle, .widgettitle {
  margin-bottom: 0;
  padding-bottom: 0; }

#sidebar-portfolio {
  height: 100vh;
  width: 100%;
  max-width: 240px;
  position: fixed;
  top: 0; }
  #sidebar-portfolio #sidebar-portfolio-avatar {
    object-fit: cover;
    max-width: 100%;
    box-sizing: border-box; }
  #sidebar-portfolio #sidebar-portfolio-info {
    margin-left: 1rem;
    margin-right: 1rem;
    box-sizing: border-box; }
    #sidebar-portfolio #sidebar-portfolio-info:before {
      content: '';
      padding-left: 1em; }
    #sidebar-portfolio #sidebar-portfolio-info:after {
      content: '';
      padding-right: 1em; }

.sidebar-left {
  display: inline-grid; }

.page-content {
  display: inline-grid; }

.sidebar-right {
  display: inline-grid; }

.sidebar-left,
.sidebar-right {
  list-style-type: none; }

.frontpage-title, .frontpage-subtitle {
  line-height: 1 !important;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

#main-header {
  z-index: 99900;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  #main-header #logo {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1; }
  #main-header i {
    cursor: pointer; }

#menu-button {
  z-index: 99999;
  cursor: pointer;
  border: none;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#top-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99990;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.84);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.sticky {
  position: fixed; }

footer {
  background-color: transparent;
  padding: 2rem; }
  footer .footer-notice {
    display: block;
    width: 100%;
    text-align: center; }

.hidden {
  display: none !important; }

a {
  font-weight: bold;
  text-decoration: none;
  position: relative;
  display: inline-block; }

/*a::before {
	content: '';
	background-color: #D50000;
	width: calc(100% + 1rem);
	height: 0;
	position: absolute;
	bottom: -4px;
	left: -10px;
	transition: all .4s;
}

a:hover::before {
	height: calc(100% + 0.5rem);
}*/
.image {
  width: 100%;
  object-fit: cover; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
