#not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.alignleft {
  text-align: left;
  align: left; }

.alignright {
  text-align: right;
  align: right; }

.aligncenter {
  text-align: center;
  align: center; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

.sticky {
  position: sticky; }

.default-container {
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem; }

.content-container {
  display: grid;
  grid-column-gap: 48px;
  grid-template-columns: 22% 56% 22%;
  align-items: start; }

.page-content .post-info {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 1rem; }
  .page-content .post-info .user {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .page-content .post-info .user .avatar {
      padding-right: 0.5rem; }

.page-title-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100vw;
  align-items: center;
  position: relative; }
  .page-title-container .page-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.social-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px; }
  .social-container a:not(:lat-child) {
    margin-right: 16px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.section-title, .section-subtitle, .page-title {
  line-height: 1 !important;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow-wrap: break-word; }

.sidebar-left,
.page-content,
.sidebar-right {
  display: inline-grid; }

.sidebar-left,
.sidebar-right {
  list-style-type: none; }
  .sidebar-left li:not(:first-child),
  .sidebar-right li:not(:first-child) {
    padding-top: 1rem; }

.sidebar {
  will-change: min-height; }

.sidebar__inner {
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card > .info {
    width: 100%; }
  @media screen and (max-width: 768px) {
    .card > .image {
      margin-bottom: 2rem; } }

@media screen and (min-width: 769px) {
  .all-left .card > .image {
    order: 1;
    margin-right: 3rem; }
  .all-left .card > .info {
    order: 2; }

  .all-right .card > .image {
    margin-left: 3rem;
    order: 2; }
  .all-right .card > .info {
    order: 1; }

  .first-left .card:nth-child(odd) > .image {
    margin-right: 3rem;
    order: 1; }
  .first-left .card:nth-child(odd) > .info {
    order: 2; }
  .first-left .card:nth-child(even) > .image {
    margin-left: 3rem;
    order: 2; }
  .first-left .card:nth-child(even) > .info {
    order: 1; }

  .first-right .card:nth-child(odd) > .image {
    margin-left: 3rem;
    order: 2; }
  .first-right .card:nth-child(odd) > .info {
    order: 1; }
  .first-right .card:nth-child(even) > .image {
    margin-right: 3rem;
    order: 1; }
  .first-right .card:nth-child(even) > .info {
    order: 2; } }
.top-navbar-item, .social-item {
  display: inline-flex !important;
  align-items: center !important; }

#top-menu {
  display: none;
  flex-direction: row;
  z-index: 99990; }
  @media screen and (min-width: 960px) {
    #top-menu a:not(:last-child) {
      margin-right: 24px; } }
  @media screen and (max-width: 959px) {
    #top-menu {
      flex-direction: column; }
      #top-menu > a {
        text-align: center;
        display: inline-block !important; }
        #top-menu > a:not(:last-child) {
          margin-right: 0px !important;
          margin-bottom: 24px; } }

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 99999;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%; }
  .header-container #logo-container {
    margin: 0 !important; }
  .header-container #nav-container {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end; }

#menu-container {
  z-index: 99990; }

#menu-button {
  display: flex;
  padding: 5px; }
  @media screen and (min-width: 960px) {
    #menu-button {
      display: none; } }

.menu-up, .menu-down, .menu-left, .menu-right {
  position: fixed;
  z-index: 99990;
  overflow: hidden;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.17s ease-in;
  width: 100vw;
  height: 100vh; }
  @media screen and (max-width: 768px) {
    .menu-up, .menu-down, .menu-left, .menu-right {
      width: 100vw !important;
      clip-path: none !important;
      shape-outside: none !important; } }
.menu-up {
  top: -100vh;
  left: 0; }
  .menu-up.active {
    top: 0; }
.menu-down {
  top: 100vh;
  left: 0; }
  .menu-down.active {
    top: 0; }
.menu-left {
  top: 0;
  left: -100vw; }
  .menu-left.active {
    left: 0; }
.menu-right {
  top: 0;
  left: 100vw; }
  .menu-right.active {
    left: 0; }

#main-footer {
  box-sizing: border-box;
  background-color: transparent;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative; }
  #main-footer .default-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #main-footer .default-container .notice {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 80%; }

#footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  #footer-menu a:not(:last-child) {
    margin-right: 1rem; }

.video-background, .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.background-overlay {
  z-index: 40 !important; }

.video-background {
  z-index: 30; }

#global-overlay {
  z-index: 20 !important; }

#global-video-background {
  z-index: 10 !important; }

#global-video-background, #404-video-background,
#global-overlay, #404-overlay {
  position: fixed !important; }

#global-overlay, #global-video-background {
  position: fixed; }

section {
  position: relative; }

a {
  text-decoration: none;
  display: inline-block; }

html, body {
  overflow-x: hidden; }

section[id^='section_'] {
  display: flex;
  align-items: center;
  z-index: 100; }

/*# sourceMappingURL=style.css.map */
