.card {
	@include flexContainer($direction: column);

	& > .info {
		flex-grow: 1;
		width: 100%;

		.url {
			margin-top: $spacing-inside-group;
			text-align: center;
			display: inline-block;

			& > span {
				display: inline-block;
			}
		}
	}

	& > .image {
		@include for-size(phone-only)
		{
			margin-bottom: $spacing-inside-group;
		}
	}
}

.card-experience {
	.description {
		margin-top: 0 !important;
	}
}

.card-testimonials {
	align-items: center;

	.image, .author, .excerpt {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.author-description {
		margin-top: 0;
		font-style: italic;
		font-size: 1rem !important;
		text-transform: none !important;
	}

	.excerpt, .full-testimonial {
		&:before {
			content: '“';
		}
		&:after {
			content: '”';
		}
	}

	.full-testimonial {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.card-numbers {
	.number, .title {
		display: block;
	}

	.number {
		margin-top: 0;
		line-height: 1;
	}
}

.section-buttons {
	@include flexContainer();

	span {
		margin-left: $spacing-inside-group/2 !important;
		margin-right: $spacing-inside-group/2 !important;
		margin-bottom: $spacing-inside-group;
	}
}

.card-tech,
.card-clients {
	& > .info {
		width: unset !important;
	}

	&:not(:last-child)
	{
		@include for-size(tablet-and-up) {
			margin-right: $spacing-groups !important;
		}
	}
}
