.card {
	&-perspective-left {
		.card-image { transform: perspective(400px) rotateY(10deg); }
	}

	&-perspective-right {
		.card-image { transform: perspective(400px) rotateY(-10deg); }
	}

	&-perspective-up {
		.card-image { transform: perspective(400px) rotateX(10deg); }
	}

	&-perspective-down {
		.card-image { transform: perspective(400px) rotateX(-10deg); }
	}

	&-zigzag-left-items {
		[class=card-zigzag-left]:nth-child(even) {
			.card-image { transform: perspective(400px) rotateY(-10deg); }
		}
		[class=card-zigzag-left]:nth-child(odd) {
			.card-image { transform: perspective(400px) rotateY(10deg); }
		}
	}

	&-zigzag-right-items {
		[class=card-zigzag-right]:nth-child(even) {
			.card-image { transform: perspective(400px) rotateY(10deg); }
		}
		[class=card-zigzag-right]:nth-child(odd) {
			.card-image { transform: perspective(400px) rotateY(-10deg); }
		}
	}

	&-default,
	&-perspective-left,
	&-perspective-right,
	&-perspective-up,
	&-perspective-down,
	&-zigzag-left,
	&-zigzag-right,
	&-swiper {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&-image {
		cursor: pointer;
		padding-bottom: 1rem;
		object-fit: cover;
	}

	&-image:hover {
		transform: perspective(0px) rotateY(0deg) rotateX(0deg) !important;
	}

	&-info {
		display: inline-flex;
		width: 100%;
		flex-direction: column;
	}

	&-image, .card-image:hover {
		transition: .15s ease-in;
	}

	&-date-span {
		margin-top: 0;
	}
}
