@import 'modules/flex';
@import 'modules/z-indexes';

.default-container {
	width: 100%;
	margin: 0 auto;
	z-index: $z-section-content;
	position: relative;
	padding-left: 1rem;
	padding-right: 1rem;
}

.page-title-container {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 100vw;
	align-items: center;
	position: relative;
	z-index: $z-section-content;
	margin-bottom: 10vh;

	.page-title-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.social-container {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0px;
	a:not(:last-child) {
		margin-right: 16px;
	}
}

#loading-container {
	z-index: $z-absolute-overlay;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	@include flexContainer($direction: column);

	.logo {
		margin-bottom: 2rem;
	}

	.animation {
		margin-bottom: 1rem;
	}
}

#scroll-container {
	overflow-y: scroll;
	scroll-snap-type: y proximity;

	& > section,
	& > footer {
		scroll-snap-align: start;
	}
}
