.default-container {
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	position: relative;

  &:before {
    content: '';
    padding-left: 1em;
  }

  &:after {
    content: '';
    padding-right: 1em;
  }
}

.content-container {
	display: grid;
	grid-column-gap: 48px;
	grid-template-columns: 22% 56% 22%;
	align-items: start;

}

.page-content {
	.post-info {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		align-items: center;
		justify-content: space-between;

		padding-bottom: 2rem;
		padding-top: 1rem;

		.user {
			display: flex;
			flex-direction: row;
			align-items: center;

			.avatar {
				padding-right: 0.5rem;
			}
		}
	}
}

.page-title-container {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 100vw;
	align-items: center;
	position: relative;

	.page-title-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}
