.default-container {
	width: 100%;
	margin: 0 auto;
	z-index: $z-section-content;
	position: relative;
	padding-left: $spacing-inside-group;
	padding-right: $spacing-inside-group;
	max-width: 1500px;
}

.article-container {
	max-width: 750px;

	& * {
		max-width: 100%;
		height: auto;
		width: initial;
	}

	& > * {
		margin-bottom: $spacing-groups;
	}

	.post-navigation-container {
		@include flexContainer($justify: space-between);
	}
}

.page-title-container {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 100vw;
	align-items: center;
	position: relative;
	z-index: $z-section-content;
	margin-bottom: 10vh;
	background-blend-mode: multiply;

	.page-title-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.page-title {
		text-align: left;
	}
}

.search-title-container {
	min-height: 40vh;
	@include flexContainer($direction: column, $align: flex-start);
	h2 {
		text-align: left;
		margin: 0;
	}
}

#loading-container {
	z-index: $z-absolute-overlay;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	@include flexContainer($direction: column);

	.logo {
		margin-bottom: $spacing-inside-group;
	}

	.animation {
		margin-bottom: $spacing-inside-group;
	}
}

#footer-sidebar-container,
#page-sidebar-container {
	display: grid;
	align-items: center;
	min-height: 0;
	position: relative;
	width: 100%;
	z-index: $z-section-content;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: $spacing-groups;

	#page-sidebar-left,
	#footer-sidebar-left,
	#page-sidebar-right,
	#footer-sidebar-right {
		margin: 0;
		padding: 0;
		& > li {
			margin-bottom: $spacing-groups;
		}
	}

	img {
		max-width: 100%;
		object-fit: cover;
	}
}

#not-found-container {
	@include flexContainer($direction: column);
	padding: 10vh 0 0;
	display: flex;
	min-height: 60vh;
	align-items: center;
}

#main-footer {
	@include flexContainer($direction: column);
	box-sizing: border-box;
	background-color: transparent;
	position: relative;
	margin-top: 10vh;
	padding-top: 10vh;

	#footer-menu {
		@include flexContainer();
		z-index: $z-section-content;

		span {
			margin-left: $spacing-inside-group/2 !important;
			margin-right: $spacing-inside-group/2 !important;
			margin-bottom: $spacing-inside-group;
		}
	}
}

#top-menu {
	@include flexContainer($direction: column);
	position: fixed;
	z-index: $z-global-menu-overlay;
	overflow-y: scroll;
	background-color: #FFFFFF;
	transition: all $transition-fastest ease-in;
	width: 100vw;
	height: 100vh;

	& > div:not(:last-child) {
		margin-bottom: $spacing-inside-group;
	}

	#header-menu {
		@include flexContainer();
		font-size: $variant-small;
		span {
			margin-bottom: $spacing-inside-group;
			margin-left: $spacing-inside-group/2;
			margin-right: $spacing-inside-group/2;
		}
	}


	#onepage-menu {
		@include flexContainer($direction: column);
		span:not(:last-child) {
			margin-bottom: $spacing-inside-group;
		}
	}

	&.menu {
		&-top {
			top: -100vh;
			left: 0;
			&.is-active {
				top: 0;
			}
		}

		&-bottom {
			top: 100vh;
			left: 0;
			&.is-active {
				top: 0;
			}
		}

		&-left {
			top: 0;
			left: -100vw;
			&.is-active {
				left: 0;
			}
		}

		&-right {
			top: 0;
			left: 100vw;
			&.is-active {
				left: 0;
			}
		}
	}
}

#social-container {
	@include flexContainer($display: inline-flex);
	z-index: $z-global-menu-overlay;

	span {
		margin-bottom: $spacing-inside-group;
		margin-left: $spacing-inside-group;
		margin-right: $spacing-inside-group;

		a {
			font-size: 36px;
		}
	}
}

#main-header {
	position: fixed;
	z-index: $z-global-header;
}

#logo-container {
	position: fixed;
	top: 16px;
	left: 16px;

	&.reverse {
		right: 16px;
		left: unset;
	}
}

#hamburger-container {
	z-index: $z-global-header;
	position: fixed;
	top: 16px;
	right: 16px;

	&.reverse {
		left: 16px;
		right: unset;
	}
}

#menu-button {
	display: flex;
	padding: $spacing-text;
}

#scroll-top-button {
	z-index: $z-scroll-top-button;
	position: fixed;
	margin-right: 16px;
	margin-bottom: 16px;
	right: 16px;
	bottom: 16px;
	cursor: pointer;
	display: none;

	& > i {
		font-size: 48px;
	}
}

.post-info {
	width: 100%;
	@include flexContainer($justify: space-between);
	font-size: 0.75rem;
	font-weight: normal;

	& > .user {
		padding-right: $spacing-text;
		display: flex;
		flex-direction: row;
		align-items: center;

		& > .avatar {
			margin-right: $spacing-text;
			border-radius: 50%;
		}
	}
}

.page-navigation {
	.previous-link {
		float: left;
	}
	.next-link {
		float: right;
	}
}

.no-results {
	text-align: center;
}
