@import 'modules/flex';
@import 'modules/breakpoints';
@import 'modules/z-indexes';

#main-footer {
	box-sizing: border-box;
	background-color: transparent;
	position: relative;
}

#footer-menu {
	@include flexContainer();
	z-index: $z-section-content;
	position: relative;

	@include for-size(phone-only) {
		flex-direction: column;
		justify-content: center;
	}

	.button-link:not(:last-child) {
		margin-right: 1rem;
		margin-bottom: 1rem;

		@include for-size(phone-only) {
			text-align: center;
			margin-right: 0;
		}
	}
}

#footer-notice {
	@include flexContainer($justify: space-between);
	padding: 2rem 0 1rem;

	@include for-size(tablet-and-down) {
		flex-direction: column;
		justify-content: center;
		nav {
			text-align: center;
		}
	}

	& > nav {
		a:not(:last-child) {
			margin-right: 1rem;
		}
	}

	* {
		font-size: 80%;
	}
}
