@import 'modules/flex';
@import 'modules/breakpoints';
@import 'modules/z-indexes';
@import 'modules/trasitions';

#top-menu {
	@include flexContainer($direction: column);
	position: fixed;
	z-index: $z-global-menu-overlay;
	overflow: hidden;
	background-color: #FFFFFF;
	transition: all $transition-fastest ease-in;
	width: 100vw;
	height: 100vh;

	& .top-menu-item {
		text-align: center;
		display: inline-block !important;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&.menu {
		&-up {
			top: -100vh;
			left: 0;
			&.is-active {
				top: 0;
			}
		}

		&-down {
			top: 100vh;
			left: 0;
			&.is-active {
				top: 0;
			}
		}

		&-left {
			top: 0;
			left: -100vw;
			&.is-active {
				left: 0;
			}
		}

		&-right {
			top: 0;
			left: 100vw;
			&.is-active {
				left: 0;
			}
		}
	}
}

#main-header {
	@include flexContainer($justify: space-between);
	box-sizing: border-box;
	margin: 32px 0;
	padding: 0 32px;
	z-index: $z-global-header;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;

	#logo-container {
		margin: 0 !important;
	}

	#nav-container {
		flex-grow: 1;
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
	}
}

#menu-button {
	display: flex;
	padding: 0.5rem;
}
