@import 'modules/flex';

#main-header {
	z-index: 99900;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: transparent;
	@include flexContainer();

	#logo {
		@include flexContainer($display: inline-flex, $justify: space-between);
		flex-grow: 1;
	}

	i {
		cursor: pointer;
	}
}

#menu-button {
	z-index: 99999;
	cursor: pointer;
	border: none;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	@include flexContainer($direction: column);
}

#top-menu {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99990;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.84);
	text-align: center;
	@include flexContainer($direction: column);
}

.sticky {
	position: fixed;
}
