@import 'modules/breakpoints';
@import 'modules/transitions';

.page-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	@include for-size(tablet-and-down)
	{
		flex-direction: column;
		flex: 1 0 100%;
	}

	article, .sidebar-inner {
		flex-direction: column;
	}

	.article-container {
		display: flex;
		flex-basis: 44%;
		flex-direction: column;
		@include for-size(tablet-and-down) { order: 1; }

		& > .user-info {
			margin-bottom: 3rem;
		}

		& img {
			object-fit: cover;
		}

		& * {
			max-width: 100%;
			width: initial !important;
		}

		& > .comments-area {
			margin-top: 3rem;
		}
	}

	.sidebar {
		flex-basis: 25%;
		list-style-type: none;
		@include for-size(tablet-and-down)
		{
			&-left { order: 2; }
			&-right { order: 3; }
		}

		& > .sidebar-inner{
			display: inline-flex;
		}
	}

}

.button-link:hover {
	transition: all $transition-fast;
}
