.article-container {
	& > .user-info {
		margin-bottom: $spacing-inside-group;
	}

	& img {
		object-fit: cover;
	}

	& * {
		max-width: 100%;
		width: initial;
	}

	& > .comments-area {
		margin-top: $spacing-groups;
	}
}

.button-link:hover {
	transition: all $transition-fast;
}
