.post-info {
	width: 100%;
	@include flexContainer($justify: space-between);
	font-size: 0.75rem;
	font-weight: normal;

	& > .user {
		padding-right: $spacing-text;
		display: flex;
		flex-direction: row;
		align-items: center;

		& > .avatar {
			margin-right: 0.5rem;
			border-radius: 50%;
		}
	}
}
