.post-info {
	@include flexContainer($justify: space-between);

	& > .user {
		padding-right: $spacing-text;
		display: flex;
		flex-direction: row;
		align-items: center;

		& > .avatar {
			margin-right: 0.5rem;
			border-radius: 50%;
		}
	}
}
