@import 'modules/z-indexes';

#search-form {
	position: relative;
	z-index: $z-section-content;
	border-bottom: 2px solid black;
	display: flex;

	input[type='text'] {
		min-width: 0;
		flex-grow: 1;
		padding: 1rem 0.5rem;
		border: 0;
		appearance: none;
	}

	button {
		border: 0;
		background-color: transparent;
		appearance: none;
	}
}
