@import 'modules/z-indexes';
@import 'modules/breakpoints';
@import 'modules/flex';

section {
	z-index: $z-section-content;
	display: flex;
	align-items: center;
	position: relative;

	& > .default-container {
		@include flexContainer($direction: column);

		& > .section-title,
		& > .section-subtitle,
		& > .section-logo {
			@include for-size(tablet-and-down)
			{
				width: 100% !important;
			}
		}

		.section-items {
			@include flexContainer();
			z-index: $z-section-content;
			width: 100%;

			@include for-size(phone-only) {
				flex-direction: column;
			}
		}
	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}
}
