#scroll-down-button {
	@include flexContainer($display: inline-flex);
	z-index: $z-global-menu-overlay;
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;

	& > i {
		font-size: 48px;
	}
}

section {
	z-index: $z-section-content;
	display: flex;
	align-items: center;
	position: relative;

	& > .default-container {
		@include flexContainer($direction: column);

		& > .section-title,
		& > .section-subtitle,
		& > .section-items {
			width: 100% !important;
		}
	}

	h1, h2, h3, h4, h5, h6, p {
		word-break: break-word;
		margin: 0;
	}

	span {
		word-break: break-word;
	}
}

.card-image {
	display: block;
	margin: auto;
	object-fit: cover;
	width: 100%;
	border-bottom: 2px solid;
	margin-bottom: $spacing-inside-group;
	height: 350px;

	@media (min-width: 500px) and (max-width: 1199px)
	{
		height: calc(208px + 208 * ((100vw - 500px) / 700));
	}
	@include for-size(phone-only)
	{
		height: 208px;
	}
}

.card-title {
	line-height: 1;
}

.section-items {
	display: grid;
	z-index: $z-section-content;
	color: inherit;
	grid-template-columns: repeat(4, calc(25% - $spacing-groups*3/4));
	grid-gap: $spacing-groups;
	max-width: 100%;

	@include for-size(laptop-and-down)
	{
		grid-template-columns: repeat(2, calc(50% - 2.5rem/2));
	}

	@include for-size(phone-only)
	{
		grid-template-columns: 100%;
	}
}

.card-info {
	position: relative;
	z-index: $z-section-content;
	@include flexContainer($direction: column);
	flex-grow: 1;
	width: 100%;

	& > * {
		width: 100%;
		margin: 0;
	}

	& > *:not(:last-child) {
		margin-bottom: $spacing-inside-group;
	}
}

.section-buttons {
	@include flexContainer();

	span {
		margin-left: $spacing-inside-group/2 !important;
		margin-right: $spacing-inside-group/2 !important;
		margin-bottom: $spacing-inside-group;
	}
}

.card-number {
	.number-container {
		@include flexContainer($direction: column);
		text-align: center;
		min-height: 0;
		width: 100%;
		border-bottom: 2px solid;
		padding-bottom: $spacing-inside-group;
		margin-bottom: $spacing-inside-group;

		.number-value {
			font-weight: 900;
		}

		.number-of-what {
			font-size: $variant-normal;
		}
	}
}

.card-team {
	position: relative;

	.member-title {
		text-align: center;
		font-weight: 900;
		line-height: 1;
	}

	.member-position {
		text-align: center;
		font-style: oblique;
	}

	.member-social-container {
		@include flexContainer();

		.button-link {
			padding-left: $spacing-text;
			padding-right: $spacing-text;
			font-size: 24px;
		}
	}

}

#tech-items, #client-items {
	@include flexContainer();
	grid-gap: unset;

	.card-image {
		border: 0;
		margin-left: $spacing-inside-group;
		margin-right: $spacing-inside-group;
		margin-bottom: $spacing-inside-group;
		max-width: 96px;
		@include for-size(phone-only) { max-width: 48px; }
		@media (min-width: 500px) and (max-width: 1199px)
		{
			max-width: calc(48px + 48 * ((100vw - 500px) / 700));
		}
	}
}

#tech-items,
#client-items,
#service-items {
	.card-image
	{
		height: unset;
		width: unset;
		@include for-size(phone-only)
		{
			height: unset;
			width: unset;
		}
	}
}

#testimonial-items {
	position: relative;
}

.card-testimonial {

	.testimonial-excerpt {
		display: inline-flex;
		padding-bottom: $spacing-text;
		text-align: center;
		border-bottom: 2px solid;

		&::before {
			content: '❝';
		}
		&::after {
			content: '❞';
		}
	}

	.testimonial-author-container {
		@include flexContainer($direction: row);
	}

	.testimonial-full {
		font-style: oblique;
	}

	.testimonial-avatar {
		border-radius: 50%;
		object-fit: cover;
		margin-right: $spacing-inside-group;
		width: 96px;
		height: 96px;
		@media (min-width: 500px) and (max-width: 1199px)
		{
			height: calc(48px + 48 * ((100vw - 500px) / 700));
			width: calc(48px + 48 * ((100vw - 500px) / 700));
		}
		@include for-size(phone-only)
		{
			width: 48px;
			height: 48px;
		}
	}

	.testimonial-author-name {
		font-size: $variant-mark;
		font-weight: bold;
	}

	.testimonial-author-description {
		font-size: $variant-small;
		font-style: oblique;
	}
}

.card-price {
	@include flexContainer($direction: column);

	.price-image {
		width: unset;
	}

	.price-title {
		font-size: $variant-mark;
		font-weight: bold;
	}

	.price-tag {
		font-size: $variant-large;
		line-height: 1;
		padding-bottom: $spacing-text;
		border-bottom: 2px solid;

		& > span {
			display: block;
		}

		& > span:not(:last-child)
		{
			padding-bottom: $spacing-text;
		}
	}

	.price-title,
	.price-tag,
	.price-before,
	.price-tag,
	.price-after,
	.card-url {
		text-align: center;
	}

	.price-before,
	.price-after {
		display: block;
		font-size: $variant-small;
		font-weight: normal;
	}

	.price-highlight {
		font-size: $variant-extra-large;
	}
}

.card-post {
	.card-title {
		margin-bottom: 0;
	}
}
