@import 'flex';

.sidebar-left {
	display: inline-grid;
}

.page-content {
	display: inline-grid;
}

.sidebar-right {
	display: inline-grid;
}

.sidebar-left,
.sidebar-right {
	list-style-type: none;
}
