@import 'flex';

.sidebar-left,
.page-content,
.sidebar-right {
	display: inline-grid;
}

.sidebar-left,
.sidebar-right {
	list-style-type: none;
	& li:not(:first-child) {
		padding-top: 1rem;
	}
}

.sidebar{
	will-change: min-height;
}

.sidebar__inner{
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}
