@import 'flex';

.sidebar {
	will-change: min-height;
	width: 100%;
	max-width: 300px;
	list-style-type: none;

	& li:not(:first-child) {
		padding-top: 1rem;
	}

	&-left {
		float: left;
	}

	&-right {
		float: left;
	}
}

.sidebar__inner{
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}
