.video-background, .background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.background-overlay {
	z-index: $z-section-overlay !important;
}

.video-background {
	z-index: $z-section-video;
}

#global-overlay {
	z-index: $z-global-overlay !important;
}

#global-video-background {
	z-index: $z-global-video !important;
}

#global-video-background, #404-video-background,
#global-overlay, #404-overlay {
	position: fixed !important;
}

#global-overlay, #global-video-background {
	position: fixed;
}
