.widget {
	list-style-type: none;
}

.widgettitle {
	margin-bottom: 0;
	line-height: 1.2;
}

.wp-caption {
	margin-top: $spacing-groups !important;
	margin-bottom: $spacing-groups !important;
}
.wp-caption-text {
	text-align: center;
	font-size: 80%;
}

.wp-calendar-table {
	width: 100% !important;
}

.gallery-icon img {
	transition: all $transition-fast;
}

//Preuzeto sa WordPress
img.alignright { float: right; margin: 0 0 $spacing-inside-group $spacing-inside-group }
img.alignleft { float: left; margin: 0 $spacing-inside-group $spacing-inside-group 0 }
img.aligncenter { display: block; margin-left: auto; margin-right: auto }
a img.alignright { float: right; margin: 0 0 $spacing-inside-group $spacing-inside-group }
a img.alignleft { float: left; margin: 0 $spacing-inside-group $spacing-inside-group 0 }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto }

.post-nav-links {
	& .post-page-numbers:first-child {
		margin-left: $spacing-text;
	}

	.post-page-numbers {
		transition: all $transition-fast;
		display: unset;
		padding: $spacing-text;
		border: 2px solid black;
	}
}

.widget_archive,
.widget_categories,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss,
{
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
			margin-bottom: $spacing-inside-group;
			ul {
				padding-left: $spacing-inside-group;
			}
		}
	}
}

.widget_recent_entries {
	li {
		a {
			display: block;
		}
		.post-date {
			font-style: oblique;
			font-weight: normal;
			font-size: 0.65rem;
		}
	}
}

.widget_rss {
	li {
		margin-bottom: $spacing-groups !important;

		.rss-date {
			font-style: oblique;
			font-weight: normal;
			font-size: 0.65rem;
		}
	}
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

table {
	th, td {
		padding: $spacing-text;
		border: 1px solid;
		border-color: black;
	}
}

blockquote {
	margin-top: 0;
	margin-bottom: 0;

	&:before, &:after {
		display: block;
		content: '';
		background-color: #000;
		width: 50%;
		height: 2px;
		margin: 0 auto;
	}

	&:before {
		margin-bottom: $spacing-inside-group;
		margin-top: $spacing-groups;
	}

	&::after {
		margin-bottom: $spacing-groups;
		margin-top: $spacing-inside-group;
	}

	p, cite {
		text-align: center;
	}
}

dl {
	dt {
		font-weight: bold;
	}
}

#protected-post-form {
	border-bottom: 2px solid black;
	display: flex;
	transition: all $transition-fast;

	& > input[type='password'] {
		appearance: none;
		background-color: transparent;
		min-width: 0;
		flex-grow: 1;
		padding: 0.75rem 0.5rem 0.75rem 0rem;
		border: 0;
	}

	& > button {
		cursor: pointer;
		font-size: 1.5rem;
		display: inline-flex;
		align-items: center;
		transition: all $transition-fast;
		appearance: none;
		border: 0;
		background-color: transparent;
		appearance: none;

		& > i {
			size: 1.5rem;
		}
	}
}

body > *:not(#wpadminbar)
{
	form:not(#search-form):not(#protected-post-form),
	li:not([class^='.mejs'])
	{
		& > input[type='text'],
		& > input[type='search'],
		& > button,
		& > select,
		& input[type='submit'],
		& textarea {
			display: block;
			width: 100% !important;
			max-width: unset;
			transition: all $transition-fast;
			border: 2px solid;
			appearance: none;
			background-color: transparent;
			min-width: 0;
			padding: 0.75rem 0.5rem;
			margin: 0.25rem 0rem 0.75rem;
		}

		input[type='submit'],
		button {
			cursor: pointer;
		}
	}
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.sticky {
	position: sticky;
}
