@import 'default-container';
@import 'typography';
@import 'front-page';
@import 'header';
@import 'footer';

.hidden {
	display: none !important;
}

a {
	font-weight: bold;
	text-decoration: none;
	position: relative;
	display: inline-block;
}

/*a::before {
	content: '';
	background-color: #D50000;
	width: calc(100% + 1rem);
	height: 0;
	position: absolute;
	bottom: -4px;
	left: -10px;
	transition: all .4s;
}

a:hover::before {
	height: calc(100% + 0.5rem);
}*/

img {
	width: 100%;
	object-fit: cover;
}
