@import 'flex';
@import 'not-found';
@import 'wordpress';
@import 'containers';
@import 'typography';
@import 'page';
@import 'cards';
@import 'header';
@import 'footer';
@import 'video-background';

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
	font-weight: bold;
}

html, body {
	overflow-x: hidden;
}

section[id^='section_'] {
	z-index: 100;
	position: relative;
	display: flex;
	align-items: center;

	& > .default-container {
		@include flexContainer($direction: column);

		& > .section-title,
		& > .section-subtitle,
		& > .section-logo,
		& > .section-video,
		& > .section-items {
			@media screen and (max-width: 960px)
			{
				width: 100% !important;
			}
		}
	}
}
