.hover-brackets-5 a::before,
.hover-brackets-5 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.27s, opacity 0.17s;
	-moz-transition: -moz-transform 0.27s, opacity 0.17s;
	transition: transform 0.27s, opacity 0.17s;
}

.hover-brackets-5 a::before {
	content: '<';
	margin-right: 0.5rem;
	-webkit-transform: translateX(1rem);
	-moz-transform: translateX(1rem);
	transform: translateX(1rem);
}

.hover-brackets-5 a::after {
	content: '/>';
	margin-left: 0.5rem;
	-webkit-transform: translateX(-1rem);
	-moz-transform: translateX(-1rem);
	transform: translateX(-1rem);
}

.hover-brackets-5 a:hover::before,
.hover-brackets-5 a:hover::after,
.hover-brackets-5 a:focus::before,
.hover-brackets-5 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
