$z-global-video:					10;
$z-global-overlay:				20;
$z-section-video:					30;
$z-section-overlay:				40;

$z-section-content:				100;

$z-scroll-top-button:		97000;
$z-global-menu-overlay:	98000;
$z-global-header: 			99000;

$z-absolute-overlay: 		99990;
